body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: left;
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
  background-color: #fff;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em ;
}

h2 {
  font-size: 18px;
  line-height: 24.59px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 38.23px;
}

section {
  margin: auto;
  width: 1400px;
  padding: 0px 125px 150px 125px;
}

section:first-child {
  margin-top: 0;
}

.section-black {
  padding-top: 151px;
  background-color: #121212;
  color: #fff;
}

.header {
  margin: auto;
  width: 1400px;
  padding: 33px 125px 70px 125px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  margin-left: 58px;
  font-size: 18px;
  line-height: 26px;
  color: #121212;
  cursor: pointer;
  text-decoration: none;
}

.nav__link_active,
.nav__link:hover{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 50%;
}

.nav__link:first-child{
  margin: 0;
}

.interior {
  position: relative;
  margin-top: 30px;
  width: 1150px;
  height: 500px;
  background-image: url(/resources/interior.png);
}

.image-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 27.32px;
  color: #fff;
}

p.description {
  width: 1048px;
  padding-left: 3px;
  margin-top: 30px;
  font-size: 45px;
  line-height: 61.1px;
  letter-spacing: -0.03em;
}

a.btn {
  margin-top: 29px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 27.32px;
  color: #fff;
  background-color: #AD1818;
  border-radius: 5px;
  text-decoration: none;
}

.projects{
  margin-top: 30px;
}

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
}

.project__title {
  margin-bottom: 16px;
  letter-spacing: -0.03em;
}

.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
  cursor: pointer;
  letter-spacing: -0.03em;
}

.project__btn {
  display: block;
  width: 100%;
  height: 153px;
  line-height: 153px;
  border: 1px solid #AD1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #AD1818;
  font-size: 30px;
  transition: 0.2s linear;
}

.project__btn:hover {
  background-color: #AD1818;
  color: #fff;
}

.services {
  margin-top: 34px;
}

.services .service {
  margin-top: 60px;
}

.services :first-child {
  margin-top: 0;
}

.service__img{
  margin-bottom: 15px;
}

.section-project {
  position: relative;
  padding: 0;
  margin-bottom: 153px;
  width: 100%;
  height: 717px;
  background-image: url(/resources/progect__apartment.png);
  background-position: 50%; 
  background-size: cover;
}

.project__text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  color: #fff;
}
 
.phone-before:before {
  content: "";
  display: block;
  margin-bottom: 12px;
  margin-left: -5px;
  width: 24px;
  height: 24px;
  background-image: url(/resources/iphone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__tel {
  padding-top: 32px;
  display: block;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
}

.contacts__mail {
  margin-top: 30px;
  padding-bottom: 8px;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  opacity: 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

footer {
  background-color: #121212;
  padding-bottom: 30px;
}

.footernav {
  margin: auto;
  width: 450px;
  display: flex;
  flex-direction:row ;
  padding: 60px 0 87px 0;
}

.footernav__link {
  margin-left: 55px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
}

.footernav__link_active,
.footernav__link:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 50%;
}

.footernav__link:first-child{
  margin: 0;
}

.footer__title {
  text-align: center;
  font-size: 20px;
  line-height: 27.32px;
  color: #fff;
  opacity: 50%;
}



